@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --indigo: #7c4dff;
}

.white__icon {
  & path {
    fill: white;
  }
}

.red__icon {
  & path {
    fill: #ff1744;
  }
}

.indigo__icon {
  & path {
    fill: var(--indigo);
  }
}

.gray__icon {
  & path {
    fill: #9e9e9e;
  }
}
